{% extends 'base.html.twig' %}

{% block title %}Empresa index{% endblock %}

{% block body %}
    <h1>Empresa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RazaoSocial</th>
                <th>Cnpj</th>
                <th>Endereco</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>RamoDeAtividade</th>
                <th>NumeroDeFuncionarios</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.razaoSocial }}</td>
                <td>{{ empresa.cnpj }}</td>
                <td>{{ empresa.endereco }}</td>
                <td>{{ empresa.telefone }}</td>
                <td>{{ empresa.email }}</td>
                <td>{{ empresa.ramoDeAtividade }}</td>
                <td>{{ empresa.numeroDeFuncionarios }}</td>
                <td>
                    <a href="{{ path('empresa_show', {'id': empresa.id}) }}">show</a>
                    <a href="{{ path('empresa_edit', {'id': empresa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('empresa_new') }}">Create new</a>
{% endblock %}
